/* ---CSS RESET--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: helvet, helvetica, arial, sans-serif; }

/* ---Global Rules--- */
body {
  min-width: 596px;
  object-fit: cover; }

@font-face {
  font-family: helvet;
  src: url(../fonts/HelveticaNeue-Light.ttf); }

@font-face {
  font-family: helvet;
  src: url(../fonts/HelveticaNeu-Bold.ttf);
  font-weight: bold; }

.light {
  color: #888; }

.danger {
  color: #d35266; }

.muted {
  color: #383838; }

.back-danger {
  background-color: #d35266; }

.back-muted {
  background-color: #383838; }

/* ---Header--- */
header {
  background-color: #383838;
  width: 100%; }

.nav-item .nav-link {
  color: #888; }

.nav-link:hover {
  color: #bbbbbb; }

.fa-bars {
  color: #888; }

.right-icon .fa-music {
  color: #888; }

/* ---Main Section--- */
main {
  background-color: #fbfbfb; }

.search-button {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #888;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #383838;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  width: 150px;
  margin-top: 35px; }

.search-button:hover {
  color: #626262;
  background-color: #121212; }

.product-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5%; }

.price {
  display: inline-block;
  background-color: #d35266;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  width: 100px;
  font-size: 1.3rem; }

.page:hover {
  background-color: #d1d1d1;
  color: #383838; }

.page-number {
  width: 100%;
  margin-left: 40%; }

/* ---Footer--- */
footer {
  background-color: #383838;
  margin-top: 100px;
  padding: 20px; }

.lang-image {
  width: 50px;
  margin-left: 7.5px; }

.french {
  margin-left: 15px; }

.english {
  margin-left: 13px; }

.about {
  width: 80%;
  margin-left: 70px; }

.acknowledgement {
  display: flex;
  justify-content: space-between; }

.copyright {
  margin-left: 70px; }

.social-shares {
  margin-right: 70px; }

.footer-separator {
  width: 90%;
  margin: 0 auto; }

.language-link,
.social-link {
  color: #888; }

.language-link:hover,
.social-link:hover {
  color: #bbbbbb;
  text-decoration: none; }

/* -------------------------------MEDIA QUERIES----------------------------------- */
@media screen and (max-width: 767px) {
  footer {
    margin-top: 20px; }
  .about {
    margin-left: 80px; }
  .acknowledgement {
    display: flex;
    flex-wrap: wrap; }
  .footer-nav,
  .language-version {
    text-align: center; }
  .social-shares {
    width: 100%;
    text-align: center;
    margin-left: 50px; } }
