/* ---CSS RESET--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ---Global Rules--- */
body {
  min-width: 596px; }

/* ---Header--- */
header {
  background-color: #383838; }

.nav-item .nav-link {
  color: #888888; }

.nav-item .nav-link:hover {
  color: #bbbbbb; }

.fa-bars {
  color: #888888; }

.right-icon .fa-music {
  color: #888888; }

/* ---Main Section--- */
.main-search {
  width: 102.56%; }

.search-button {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #888888;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #383838;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15sease-in-out,box-shadow .15s ease-in-out; }

.search-button:hover {
  color: #626262;
  background-color: #121212; }

/* ---Main-Hot-ad-section--- */
.carousel-container {
  width: 65%;
  height: 250px;
  margin: 0 auto; }

.hot-ad-details {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #D35266;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15sease-in-out,box-shadow .15s ease-in-out; }

.details-container {
  width: 100%; }

.ad-description .text {
  color: #888888; }

/* ---Main Product section--- */
.products-row {
  width: 100%;
  margin: 0 auto; }

.card {
  height: 400px;
  line-height: 0.7; }
  .card .card-img-top {
    height: 200px; }
  .card .title {
    height: 60px; }

/* ---Video Demos--- */
.main-video-demos {
  width: 95%;
  margin-left: 6%;
  display: flex;
  flex-wrap: wrap; }
  .main-video-demos .iframe {
    width: 100%;
    height: 100%; }

/* ---Footer--- */
footer {
  margin-top: 100px; }

.lang-image {
  width: 50px; }

/* -------------------------------MEDIA QUERIES-----------------------------------*/
@media screen and (min-width: 768px) {
  .search-button {
    display: inline-block;
    width: 80px; }
  .main-search {
    width: 93%; }
  .korg-micro-piano,
  .nord-stage,
  .Korg-SV2 {
    width: 30%;
    margin-right: 2%; } }

@media screen and (max-width: 767px) {
  .carousel-container {
    margin-bottom: 200px; }
  .hot-ad-details {
    width: 100%; }
  .hot-image-1 {
    width: 350px;
    height: 300px; }
  .hot-image-2 {
    width: 200px;
    height: 200px; }
  .main-products {
    margin-left: 150px; }
  .wrapper {
    max-width: 70%; }
  .korg-micro-piano,
  .nord-stage,
  .Korg-SV2 {
    width: 80%;
    margin: 0 auto 12%; } }

@media screen and (max-width: 991px) {
  .hot-image-3 {
    height: 100px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 110%; }
  .status {
    margin-top: 15px; } }
