/* ---CSS RESET--- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---Global Rules--- */

body {
  min-width: 596px;
}

$primary-color: #D35266;
$secondary-color: #888888;
$tertiary-color: #383838;

@mixin common-border {
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15sease-in-out,box-shadow .15s ease-in-out;
}

@mixin button {
  display: block;
  width: 100%;
  font-weight: 400;
  color:$secondary-color;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $tertiary-color;
  @include common-border;
 
}

@mixin hot-ad-description {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: $primary-color;
  @include common-border;
}

@mixin to_center {
  margin: 0 auto;
}

/* ---Header--- */

header {
  background-color: $tertiary-color;
}

.nav-item {
  .nav-link {
    color: $secondary-color;
  }
}

.nav-item {
  .nav-link:hover {
    color: lighten($secondary-color, 20%);
  }
}

.fa-bars {
  color: $secondary-color;
}

.right-icon {
  .fa-music {
    color: $secondary-color;
  }
}

/* ---Main Section--- */

.main-search {
  width: 102.56%;
}

.search-button {
  @include button;
}

.search-button:hover {
  color: darken($secondary-color, 15%);
  background-color: darken($tertiary-color, 15%);
}

/* ---Main-Hot-ad-section--- */

.carousel-container {
  width: 65%;
  height: 250px;
  @include to_center;
}

.hot-ad-details {
  @include hot-ad-description;
}

.details-container {
  width: 100%;
}

.ad-description {
  .text{
    color: $secondary-color;
  }
}

/* ---Main Product section--- */

.products-row {
  width: 100%;
  @include to_center;
}
.card {
  height: 400px;
  line-height: 0.7;

  .card-img-top {
    height: 200px;
  }

  .title {
    height: 60px;
  }
  
}

/* -------------------------------MEDIA QUERIES-----------------------------------*/

@media screen and (min-width: 768px){
  .search-button{
    display: inline-block;
    width: 80px;
  }

  .main-search {
    width: 93%;
  }
  
}

@media screen and (max-width: 767px) {
  
  .carousel-container {
    margin-bottom: 200px;  
  }

  .hot-ad-details {
    width: 100%; 
  }

  .hot-image-1 {
    width: 350px;
    height: 300px;
  }

  .hot-image-2 {
    width: 200px;
    height: 200px;
  }

  .main-products {
   margin-left: 150px;
  }

  .wrapper {
    max-width: 70%;
  }


}

@media screen and (max-width: 991px) {
  .hot-image-3 {
    height: 100px;
  }
  
}



@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 110%;
  }

  .status {
    margin-top: 15px;
  }
}
