/* ---CSS RESET--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: helvet, helvetica, arial, sans-serif;
}

/* ---Global Rules--- */

body {
  min-width: 596px;
  object-fit: cover;
}

@font-face {
  font-family: helvet;
  src: url(../fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvet;
  src: url(../fonts/HelveticaNeu-Bold.ttf);
  font-weight: bold;
}

$primary-color: #d35266;
$secondary-color: #888;
$tertiary-color: #383838;
$margin-left: 70px;

.light {
  color: $secondary-color;
}

.danger {
  color: $primary-color;
}

.muted {
  color: $tertiary-color;
}

.back-danger {
  background-color: $primary-color;
}

.back-muted {
  background-color: $tertiary-color;
}

@mixin common-border {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

@mixin button {
  display: block;
  width: 100%;
  font-weight: 400;
  color: $secondary-color;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $tertiary-color;

  @include common-border;
}

@mixin hot-ad-description {
  display: inline-block;
  font-weight: 400;
  color: $tertiary-color;
  text-align: center;
  background-color: $primary-color;

  @include common-border;
}

@mixin to_center {
  margin: 0 auto;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* ---Header--- */

header {
  background-color: $tertiary-color;
  width: 100%;
}

.nav-item {
  .nav-link {
    color: $secondary-color;
  }
}

.nav-link:hover {
  color: lighten($secondary-color, 20%);
}

.fa-bars {
  color: $secondary-color;
}

.right-icon {
  .fa-music {
    color: $secondary-color;
  }
}

/* ---Main Section--- */

main {
  background-color: lighten($secondary-color, 45%);
}

.search-button {
  @include button;
}

.search-button:hover {
  color: darken($secondary-color, 15%);
  background-color: darken($tertiary-color, 15%);
}

/* ---Main-Hot-ad-section--- */

.carousel-container {
  width: 65%;
  height: 250px;

  @include to_center;
}

.hot-ad-details {
  @include hot-ad-description;
}

.hot-ad-details:hover {
  color: darken($tertiary-color, 20%);
  text-decoration: none;
}

.details-container {
  width: 100%;
}

.ad-description {
  .text {
    color: $secondary-color;
  }
}

/* ---Main Product section--- */

.products-row {
  width: 100%;

  @include to_center;
}

.card {
  height: 400px;
  line-height: 0.7;

  .card-img-top {
    height: 200px;
  }

  .title {
    height: 60px;
  }
}

.more-products {
  a:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

.fa-angle-right {
  margin-top: 7.45px;
}

/* ---Video Demos--- */

.main-video-demos {
  width: 95%;
  margin-left: 5%;

  @include flex-wrap;

  .iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
  }
}


/* ---Footer--- */

footer {
  background-color: $tertiary-color;
  margin-top: 100px;
  padding: 20px;
}

.lang-image {
  width: 50px;
  margin-left: 7.5px;
}

.french {
  margin-left: 15px;
}

.english {
  margin-left: 13px;
}

.about {
  width: 80%;
  margin-left: $margin-left;
}

.acknowledgement {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-left: $margin-left;
}

.social-shares {
  margin-right: 70px;
}

.footer-separator {
  width: 90%;
  margin: 0 auto;
}

.language-link,
.social-link {
  color: $secondary-color;
}

.language-link:hover,
.social-link:hover {
  color: lighten($secondary-color, 20%);
  text-decoration: none;
}

/* -------------------------------MEDIA QUERIES----------------------------------- */

@media screen and (min-width: 768px) {
  .search-button {
    display: inline-block;
    width: 80px;
    margin-right: 100px;
  }

  .main-search {
    margin-left: 140px;
  }

  .korg-micro-piano,
  .nord-stage,
  .Korg-SV2 {
    width: 30%;
    margin-right: 2%;
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .carousel-container {
    margin-bottom: 200px;
  }

  .hot-ad-details {
    width: 100%;
  }

  .hot-image-1 {
    width: 350px;
    height: 300px;
  }

  .hot-image-2 {
    width: 200px;
    height: 200px;
  }

  .main-products {
    margin-left: 150px;
  }

  .wrapper {
    max-width: 70%;
  }

  .korg-micro-piano,
  .nord-stage,
  .Korg-SV2 {
    width: 80%;
    margin: 0 auto 12%;
  }

  footer {
    margin-top: 20px;
  }

  .about {
    margin-left: 80px;
  }

  .acknowledgement {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-nav,
  .language-version {
    text-align: center;
  }

  .social-shares {
    width: 100%;
    text-align: center;
    margin-left: 50px;
  }
}

@media screen and (max-width: 991px) {
  .hot-image-3 {
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 110%;
  }

  .status {
    margin-top: 15px;
  }
}
